* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #fff;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  max-width: 35rem;
  border-radius: 4rem;
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-weight: 400;
  background-color: red;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

/* Full-width input fields */
.container a.disFlex {
  background-color: #fcf8f8;
  justify-content: center;
  gap: 1rem;
  border-radius: 1rem;
  width: 80%;
  font-size: 1.2rem;
  color: #8a158a;
  margin: 2rem auto;
  height: 4rem;
  padding: 2rem;
  box-shadow: rgb(0, 0, 0, 25%) 0px 4px 5px;
}
.container a.disFlex:active {
  box-shadow: none;
}
.container h3 {
  font-weight: 500;
  font-size: 1.4rem;
  margin: 2rem auto;
  color: #000;
}
.google {
  width: 2.5rem;
}
.border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.17rem;
  margin: 1rem auto;
  border-radius: 0.87rem;
  background-color: #fff;
  position: relative;
  z-index: 1;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.6, #b671cf),
    color-stop(0.1, #3a30aa)
  );
}
.border input::placeholder {
  font-size: 1.2rem;
  font-weight: 500;
}
.border input {
  width: 87.5%;
  height: 4rem;
  border: none;
  padding-left: 1rem;
  border-radius: 0 0.8rem 0.8rem 0;
}
.border svg {
  width: 12%;
  height: 2rem;
  background-color: #fff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  height: 4rem;
  border-radius: 0.8rem 0 0 0.8rem;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  width: 80%;
  height: 4rem;
  margin-bottom: 2rem;
  box-shadow: none;
}
.orLogin {
  display: block;
}
.checkandforgot {
  display: flex;
  color: #8a158a;
  justify-content: space-between;
  margin: 1rem auto;
}
.checkandforgot a {
  color: #8a158a;
  font-size: 1.2rem;
}
.check {
  justify-content: flex-start;
  align-items: center;
}
.check span {
  font-size: 1rem;
}
.checkbox {
  display: block;
  position: relative;
  padding-left: 2.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  z-index: 1;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.2rem;
  border: #8a158a solid 0.1rem;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #8a158a1a;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 0.49rem;
  top: 0.1rem;
  width: 0.3rem;
  height: 0.8rem;
  border: solid #8a158a;
  border-width: 0 0.1rem 0.1rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.orLogin,
.orLogin a {
  color: #8a158a;
  font-size: 1.3rem;
}
/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;
  }
}
/************modal************/

.hear .disFlex,
.categories {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.card {
  border-radius: 1rem;
  background: linear-gradient(to bottom, #b671cf, #3a30aa);
  font-size: 1.8rem;
  width: 75vw;
  margin: 4rem auto;
  padding: 5rem 7%;
}
.gradText {
  background: linear-gradient(to bottom, #b671cf, #3a30aa);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.disFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 1rem;
  font-size: 1.6rem;
  border: 0.15rem solid #800780;
}
button:active {
  box-shadow: none;
}
.logo {
  width: 20rem;
}

header {
  padding: 1rem 10rem;
  box-shadow: rgb(0, 0, 0, 25%) 0px 4px 5px;
  margin-bottom: 2rem;
}
header nav {
  font-size: 1.6rem;
  width: 50%;
  font-weight: 500;
  gap: 1rem;
}
.buttons {
  gap: 2rem;
}
.btn-light {
  background-color: #fff;
  color: #800780;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 1rem;
  border: none;
  box-shadow: rgb(0, 0, 0, 25%) 0px 4px 5px;
  margin-top: 4rem;
  padding: 1rem 5rem;
}
.btn-fill {
  border: none;
  background: linear-gradient(to bottom, #b671cf, #3a30aa);
  color: white;
  font-weight: 500;
  box-shadow: rgb(0, 0, 0, 25%) 0px 4px 5px;
}
.login {
  padding: 0.8rem 1.2rem;
  width: 9rem;
  border-radius: 0rem;
  font-weight: 500;
  background: white;
  border: none;
  position: relative;
}
.login::before {
  border-radius: 0.5rem;
  content: "";
  background-image: linear-gradient(to bottom, #b671cf, #3a30aa);
  top: -0.8px;
  left: -0.8px;
  bottom: -0.8px;
  right: -0.8px;
  position: absolute;
  z-index: -1;
}
.sign-up {
  width: 9rem;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  font-weight: 500;
}
.menu {
  width: 3.3rem;
  display: none;
}

main {
  height: 58rem;
}
.card-light {
  margin: 1rem auto;
  border-radius: 0.5rem;
  box-shadow: rgb(0, 0, 0, 25%) 0px 4px 5px;
  width: 100%;
  padding: 2rem 0rem;
  color: #800780;
  background-color: white;
  text-align: center;
}
main img {
  min-width: 55%;
  height: 25rem;
  border-radius: 0.5rem;
  box-shadow: rgb(0, 0, 0, 25%) 0px 4px 5px;
}
main .disFlex {
  margin: 4rem auto;
  gap: 4rem;
  text-align: left;
  align-items: flex-end;
}
/* main .btn-light {
  margin-top: 4rem;
  padding: 1rem 3rem;
} */
.how {
  height: 5rem;
  width: 20rem;
  background: none;
  font-weight: 600;
  border: 0.3rem solid #fff;
  color: #fff;
  margin: 2rem auto;
}
.brighten {
  text-align: left;
  gap: 8rem;
  height: 38rem;
  align-items: flex-start;
  justify-content: space-between;
}
.brighten .video {
  width: 50%;
  height: 24rem;
  background-image: url(illustration.png);
  background-position: center;
  border: none;
  color: #8a158a;
  font-weight: 700;
  padding: 5rem;
  align-self: center;
}
.video svg {
  width: 3rem;
  height: 2.5rem;
  border: 0.3rem solid #800780;
  border-radius: 0.5rem;
}
.brighten p {
  margin-top: 2rem;
  font-size: 1.4rem;
  text-align: justify;
  font-weight: 400;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* justify-items: center; */
  text-align: center;
  background-color: #c182c1;
  margin: 2rem auto 6rem;
  padding: 4rem 15%;
  color: #800080;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.7rem;
}
h3 {
  font-size: 2.4rem;
  font-weight: 800;
}
.stats div {
  display: grid;

  align-content: space-evenly;
  background: linear-gradient(160deg, #fefefe 40%, #c182c1);
  width: 20vw;
  height: 12rem;
  padding: 0.2rem 4rem;
  border-radius: 2rem;
  box-shadow: rgb(0, 0, 0, 25%) 0px 4px 5px;
  margin-bottom: 0.5rem;
}

.recipe h1 {
  font-size: 2.4rem;
}
.mview {
  display: none;
}
.recipe .card {
  margin: 2rem auto;
}
.recipe img {
  width: 40%;
  border-radius: 1rem;
}
.recipe ul li {
  position: relative;
  margin-bottom: 6rem;
  font-size: 1.6rem;
  font-weight: 500;
  padding-left: 2.4rem;
  text-align: left;
}
.recipe ul li:last-child {
  margin-bottom: 0;
}
.recipe ul li:after {
  /* bullets */
  content: url("iconmonstr-triangle-1-2401.png");
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -13px; /*adjust manually*/
  top: 0px;
  border-radius: 0.8rem;
  width: 4rem;
  height: 4rem;
  background: white;
  transform: translate(-50%, -30%);
}
.recipe ul li:before {
  /* lines */
  content: "";
  position: absolute;
  left: -13px; /* adjust manually */
  top: 0;
  border-left: 1px solid #000;
  height: 9rem;
  width: 2px;
}
.recipe ul li:first-child::after {
  width: 6rem;
  height: 6rem;
}
.recipe ul li:first-child:before {
  top: 2px;
}
.recipe ul li:last-child:before {
  height: 0px;
}

.money-back {
  padding: 0 4%;
  margin: 6rem auto;
  gap: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  align-items: flex-start;
  border-radius: 1.5rem 0 1.5rem 0;
  box-shadow: rgb(0, 0, 0, 25%) 0px 4px 5px;
}
.rewardsImg {
  height: 40rem;
  width: 40%;
  box-shadow: rgb(0, 0, 0, 25%) 4px 0px 5px;
}
.gridDis {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin-top: 3rem;
  gap: 0.1rem;
}
.hundred {
  width: 18rem;
  box-shadow: none;
}
.leftAlign {
  text-align: left;
}
.money-back span {
  font-size: 1.6rem;
  font-weight: 500;
  align-self: start;
}
.money-back p {
  margin-top: 5rem;
}
.card-fill {
  border-radius: 0.5rem;
  box-shadow: rgb(0, 0, 0, 20%) 0px 4px 5px;
  margin-top: 1rem;
  padding: 1rem 2rem;
  color: white;
  background-color: #800780;
  font-weight: 600;
  width: 40rem;
}

.skills {
  margin: 2rem auto;
  width: 75vw;
}
.categories {
  margin: 2rem auto;
}
.categories .disFlex {
  height: 8rem;
  overflow-x: scroll;
}
.categories .btn-light {
  margin-top: 0%;
  min-width: 18rem;
  height: 5rem;
  padding: 0rem;
  position: relative;
  margin-left: 2rem;
  box-shadow: rgba(0, 0, 0, 0.103) 0px 4px 5px;
}
.categories .btn-light::before {
  border-radius: 1.1rem;
  content: "";
  background-image: linear-gradient(to bottom, #b671cf, #3a30aa);
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  position: absolute;
  z-index: -1;
}
.categories .btn-light:hover {
  border: none;
  background: linear-gradient(to bottom, #b671cf, #3a30aa);
  color: white;
}

.course-container {
  margin: 2rem auto;
  width: 75vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.courses {
  width: 32rem;
  height: 26rem;
  padding: 2rem;
  box-shadow: rgb(0, 0, 0, 20%) 0px 4px 5px;
  margin-bottom: 1rem;
}
.courses h3 {
  font-weight: 600;
  font-size: 1.8rem;
}
.courses p.disFlex {
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.courses img {
  border-radius: 0.8rem;
  width: 12rem;
}
.see-more {
  width: 30rem;
  height: 5rem;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.hear {
  position: relative;
  width: 75vw;
  margin: 4rem auto;
}
.hear .disFlex {
  overflow: scroll;
  justify-content: left;
  gap: 2rem;
}
.others {
  border-radius: 1rem;
  padding: 3rem;
  border: none;
  text-align: left;
  margin: 2rem 1rem;
  background-color: white;
  width: 50rem;
  height: 33rem;
  font-size: 1.6rem;
  position: relative;
}
.others::before {
  border-radius: 1.1rem;
  content: "";
  background-image: linear-gradient(to bottom, #b671cf, #3a30aa);
  top: -1.6px;
  left: -1.4px;
  bottom: -1.4px;
  right: -1.6px;
  position: absolute;
  z-index: -1;
}
/* .others:first-of-type {
  margin-left: 4rem;
} */
.others img {
  width: 8rem;
  height: auto;
  border-radius: 50%;
  margin-right: 3rem;
  box-shadow: rgb(0, 0, 0, 30%) 0px 3px 5px;
}
.others .intro {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  width: 30rem;
}
.others p {
  margin-left: 8rem;
  color: rgba(0, 0, 0, 0.993);
  text-align: justify;
  width: 75%;
}
.others a {
  text-decoration: none;
  color: #8a158a;
  font-weight: 700;
}
.grey {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5) !important;
  font-weight: 600;
}
.arrow {
  width: 4rem;
}
.next-btn {
  border-radius: 50%;
  background: linear-gradient(to bottom, #b671cf, #3a30aa);
  border: none;
  color: white;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(100%, -50%);
  right: 1rem;
  box-shadow: rgb(0, 0, 0, 30%) 0px 3px 5px;
}

.other-courses {
  background-color: #8a158a;
  color: white;
  padding: 3rem;
  margin: 2rem auto;
}
.other-courses h3 {
  font-size: 1.8rem;
}
.other-courses-card {
  background: linear-gradient(160deg, #fefefe 25%, #a76ca7);
  width: 50rem;
  height: 30rem;
  border-radius: 1rem;
  margin: 2rem auto;
  position: relative;

  padding: 1.5rem 10rem;
  box-shadow: rgb(0, 0, 0, 30%) 0px 3px 5px;
}
.other-courses-card h3 {
  color: #fe03b3;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 2.4rem;
}
.other-courses-card span {
  color: #000;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
}
.other-courses-card p {
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: left;
  margin: 0.8rem 0;
}
.other-courses-card .grey {
  text-decoration: line-through;
}
.other-courses-card span {
  justify-content: flex-start;
  align-items: flex-start;
  grid-area: 2rem;
}
.other-courses-card span div {
  flex-direction: column;
  text-align: left;
  margin-left: 0.5rem;
}
.other-courses-card::before {
  content: "";
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #8a158a;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  border-right: solid 0.4rem rgba(0, 0, 0, 0.144);
}
.second::after {
  content: "save \20B9 10180";
}
.first::after {
  content: "save \20B9 1297";
}
.other-courses-card::after {
  text-align: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: linear-gradient(to bottom, #b671cf, #3a30aa);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  border-right: solid 0.2rem rgb(0, 0, 0, 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 2rem;
  box-shadow: rgb(0, 0, 0, 50%) 0px 4px 5px;
  z-index: 999;
}

.query {
  padding: 0 8%;
  margin: 4rem auto;
}
.query-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.query-asked {
  width: 100%;
  height: 5rem;
  margin: 1.5rem auto;
  background-color: #d0d0d0;

  font-size: 1.6rem;
  text-decoration: none;
  position: relative;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(0, 0, 0, 30%) 0px 3px 5px;
}
.query-asked a {
  text-decoration: none;
  color: black;
  color: #800080;
  font-weight: 500;
}
.query-asked button {
  width: 7rem;
  height: 5rem;
  position: absolute;
  right: 0;
  border: none;
  border-radius: 0 0.8rem 0.8rem 0;
  background: linear-gradient(to bottom, #b671cf, #3a30aa);
}

::placeholder {
  background: linear-gradient(to bottom, #b671cf, #3a30aa);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  font-size: 1.6rem;
  font-weight: 600;
}
.search-ico {
  margin: 0 1rem;
}
.search {
  width: 90rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: #fff;
  display: flex;
  margin: 3rem auto;
  position: relative;
}
.search::before {
  border-radius: 1.1rem;
  content: "";
  background-image: linear-gradient(to bottom, #b671cf, #3a30aa);
  top: -2px;
  left: -0.815px;
  bottom: -1.5px;
  right: -1.5px;
  position: absolute;
  z-index: -1;
}
.search input {
  border: none;
  width: 48.5rem;
}

.search button {
  width: 7.5rem;
  height: 5.1rem;
  position: absolute;
  top: 0rem;
  right: -0.1rem;
  border: none;
  border-radius: 0 1rem 1rem 0;
  background: linear-gradient(to bottom, #b671cf, #3a30aa);
}
footer {
  background-color: black;
  color: white;
  text-align: left;
  padding: 2rem 8%;
  font-weight: 400;
  align-items: flex-start !important;
}
footer h3 {
  margin-bottom: 1rem;
}
footer ul {
  list-style: none;
  font-size: 1.4rem;
  line-height: 3rem;
}
footer a {
  text-decoration: none;
  color: white;
}
.icons {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 30px 30px 30px 30px;
  gap: 1rem;
}

/*.............*/
@media (max-width: 1400px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 1075px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 975px) {
  html {
    font-size: 45%;
  }
  .other-courses {
    flex-direction: column;
  }
  .search {
    width: 80rem;
  }
  .menu {
    display: inline;
  }
  header nav {
    display: none !important;
  }
  header {
    justify-content: space-between;
  }
}
@media (max-width: 875px) {
  html {
    font-size: 40%;
  }
  .courses {
    display: none;
  }
}
@media (max-width: 780px) {
  html {
    font-size: 50%;
  }
  .courses {
    display: none;
  }
  .card {
    width: 97vw;
    padding: 2rem 5rem;
  }
  header {
    padding: 1rem 3rem;
  }
  .search {
    width: 60rem;
  }
  .others {
    width: 40rem;
    height: 35rem;
  }
  .hear {
    width: 100vw;
  }
  .first-other {
    margin-left: 20rem;
  }
  .next-btn {
    transform: translate(0, -50%);
  }
  .skills {
    width: 100vw;
  }
  .categories .leftAlign {
    margin: 0 3rem;
  }
  header {
    margin: 0;
  }
  main.card {
    margin: 0 !important;
    width: 100vw;
    border-radius: 0 !important;
  }
  main .disFlex {
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  main img {
    display: none;
  }
  .icons {
    grid-template-columns: 30px 30px;
  }
  .brighten {
    margin: 0 auto;
    position: relative;
    flex-direction: column;
    text-align: center;
    gap: 2.5rem;
  }
  .brighten .btn-light {
    display: none;
  }
  .video {
    width: 20rem;
    border-radius: 0.5rem;
  }
  .stats {
    margin: 0;
    grid-template-columns: 1fr 1fr;
  }
  .stats div {
    padding: 0;
    width: 18rem;
  }

  .recipe .card {
    margin-top: 15rem;
    position: relative;
  }
  .recipe .card .disFlex {
    padding-top: 15rem;
    flex-direction: column;
  }
  .recipe .card .disFlex img {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 70%);
    width: 40rem;
  }
  .recipe .card .btn-light {
    display: none;
  }

  .money-back {
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
  }
  .rewardsImg {
    width: 35rem;
    height: 25rem;
    border-radius: 2rem;
  }
  .money-back h3 {
    display: none;
  }

  .money-back p {
    margin-top: 0.5rem;
  }
  .money-back .btn-light {
    margin-top: 1rem;
  }

  .first-other {
    margin-left: 10rem;
  }
  .others {
    height: 40rem;
  }

  /* .other-courses {
    padding-left: 1rem;
    margin: 2rem auto;
  } */

  .other-courses-card {
    width: 42rem;
    height: 25rem;

    border-radius: 2rem;
    padding: 1.5rem 8rem;
  }
  .other-courses-card h3 {
    color: #fe03b3;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 2.4rem;
  }
  .other-courses-card span {
    color: #000;
    font-size: 1.8rem;
  }
  .other-courses-card p {
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .other-courses-card .btn-light {
    margin-top: 1rem;
  }

  .query-grid {
    grid-template-columns: 1fr;
  }
  .search {
    width: 42rem;
  }
  .search::before {
    right: -0.1rem;
    left: -0.25rem;
    top: -0.2rem;
  }
  .search button {
    height: 5.4rem;
    top: -0.15rem;
    border-radius: 0 0.8rem 0.8rem 0;
    right: -0.1rem;
  }

  footer {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .mview {
    display: inline;
  }
  html {
    font-size: 62.5%;
    text-align: center;
  }
  body {
    font-size: 1.7rem;
  }
  .bg {
    background: linear-gradient(to bottom, #b671cf 20%, #3a30aa);
  }
  header {
    /* align-items: flex-end;
    justify-content: space-between; */
    padding: 5rem 1rem 1.1rem;
    background-color: white;
  }
  .logo {
    width: 13.5rem;
  }
  .buttons {
    gap: 0.7rem;
  }
  .login,
  .sign-up {
    padding: 0rem 0.6rem;
    height: 3rem;

    font-size: 1.3rem;
  }
  .login {
    border: 0.1rem solid #b671cf;
    border-radius: 0.5rem;
    width: 6rem;
  }
  .sign-up {
    margin-right: 1rem;
    width: 7rem;
  }
  main.card {
    background: none;
    padding: 3rem 0rem;
    height: auto;
  }
  main p {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .card-light {
    font-size: 1.8rem;
    margin: 3rem auto;
    border-radius: 0.5rem;
    box-shadow: rgb(0, 0, 0, 25%) 0px 4px 5px;
    width: 75%;
    padding: 2rem 0rem;
    color: #800780;
    background-color: white;
  }
  .know-how {
    margin: 1.2rem auto;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
  }
  .how {
    height: 4rem;
    width: 15rem;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 0;
  }
  .explore {
    display: block;
    margin: 1rem auto 0;
    border-radius: 0.5rem;
    box-shadow: rgb(0, 0, 0, 20%) 0px 4px 5px;
    padding: 1rem 2rem;
    /* color: white;
    background-color: #800780; */

    width: 23rem;
    height: 4.5rem;
    border: none;
    font-size: 1.5rem;
    /* font-weight: 500; */
  }

  .brighten {
    font-size: 1.4rem;
    font-weight: 400;
    height: auto;
  }
  .brighten h3 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .video.disFlex {
    width: 28rem;
    height: 13rem;
    padding: 4rem;
  }

  .stats {
    width: 97vw;
    margin: 0 auto;
    line-height: 1.8rem;
    font-size: 1.6rem;
  }
  .stats h3 {
    font-size: 2rem;
  }
  .stats div {
    align-content: center;
    width: 13.5rem;
    height: 10rem;
    padding: 0.2rem;
    border-radius: 2rem;
    box-shadow: rgb(0, 0, 0, 25%) 0px 4px 5px;
    margin-bottom: 0.5rem;
  }

  .recipe .card {
    padding-right: 0;
    margin-top: 11rem;
  }
  .recipe-head {
    margin: 3rem auto 1rem;
    font-size: 2rem !important;
    width: 32rem;
    border-radius: 0.5rem !important;
    padding: 1rem 6rem;
    color: white;
    background-clip: unset;
    -webkit-text-fill-color: white;
    box-shadow: rgb(0, 0, 0, 25%) 0px 4px 5px;
  }
  .recipe ul li {
    margin-bottom: 4rem;
    padding-left: 4rem;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .recipe ul li:last-child {
    margin-bottom: 8rem;
  }
  .comp {
    width: 28rem !important;
    top: -50% !important;
    left: 50% !important;
    transform: translate(-50%, 90%) !important;
    border-radius: 0.5rem !important;
    box-shadow: rgb(0, 0, 0, 30%) 0px 3px 5px;
  }

  .money-back {
    margin-top: 2rem;
    color: white;
    padding: 2rem 4rem 2rem;
    border-radius: 0.8rem;
    box-shadow: rgb(0, 0, 0, 25%) 0px 4px 5px;
    background: linear-gradient(to right, #b46fcf, #8657c1);
    font-weight: 600;
  }
  .rewardsImg {
    width: 25rem;
    height: auto;
    border-radius: 1rem;
    margin-top: 1rem;
    box-shadow: rgb(0, 0, 0, 30%) 0px 3px 5px;
  }
  .money-back p {
    text-align: justify;
    font-size: 1.6rem;
    font-weight: 500;
  }
  .know-more {
    margin-top: 2rem !important;
    border-radius: 0.5rem;
  }

  .skills .gradText {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 0;
    margin-bottom: 2rem;
  }
  .skills .gradText.leftAlign {
    margin-right: 60% !important;
    padding-bottom: 0;
  }
  .categories .leftAlign {
    display: none;
  }
  .categories .disFlex.btns {
    height: 5rem;
  }
  .categories button.btn-light {
    /* border-radius: 4rem; */
    height: 4rem !important;
    min-width: 12rem !important;
    padding: 0;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 1.4rem;
    margin-left: 2rem;
  }
  .see-more {
    width: 17rem;
    height: 4rem;
    padding: 0.5rem;
    font-weight: 500;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 1rem;
    border: none;
  }

  .hear {
    background: linear-gradient(to bottom, #fff 50%, #b671cf 50%);
    margin-bottom: 0;
    padding-bottom: 2rem;
  }
  .hear h3 {
    font-size: 2rem;
  }
  .others {
    height: 31rem;
    width: 28rem;
    padding: 2rem;
    margin: 3rem 1rem;
    box-shadow: rgb(0, 0, 0, 30%) 0px 3px 5px;
    border: 0.1rem solid #b671cf;
  }
  .others:first-of-type {
    margin-left: 6rem;
  }
  .others img {
    width: 5.5rem;
    margin-right: 1rem;
  }
  .others .intro {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  .grey {
    font-size: 1.2rem;
  }
  .others p {
    font-size: 1.3rem;
    margin-left: 4rem;
    width: 80%;
  }
  .next-btn {
    width: 40px;
    height: 40px;
  }
  .next-btn svg {
    width: 50%;
  }

  .other-courses-sec {
    background: linear-gradient(to bottom, #b671cf, #3a30aa);
    margin-top: 0;
  }
  .other-courses {
    margin: 0 auto;
    background: none;
    padding-top: 1.5rem;
  }
  h3.gradText {
    font-size: 2rem;
  }
  .intrest {
    background-clip: unset;
    background: none;
    -webkit-text-fill-color: white;
    padding-top: 2rem;
  }
  .other-courses-card {
    width: 32rem;
    height: 19rem;
    margin: 2rem auto;
    border-radius: 2rem;
    padding: 1rem 5rem;
  }
  .other-courses-card {
    margin-left: 0rem;
  }
  .other-courses-card h3 {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
  }
  .other-courses-card span {
    font-size: 1.3rem;
  }
  .other-courses-card p {
    font-size: 1rem;
    font-weight: 400;
  }
  .other-courses-card .btn-light {
    margin-top: 0.1rem;
    padding: 0px;
    background-color: #8a158a;
    border-radius: 2rem;
    color: white;
    width: 17rem;
    height: 3.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .other-courses-card::after,
  .other-courses-card::before {
    width: 7rem;
    height: 7rem;
    font-size: 1.5rem;
  }
  .first::before {
    background: linear-gradient(to bottom, #935ec4, #8457c0);
  }
  .second::before {
    background: linear-gradient(to bottom, #6144b5, #523cb1);
  }
  .other-courses-card::after {
    right: 2%;
  }

  .query {
    background: linear-gradient(to bottom, #3a30aa 55%, #fff 45%);
    color: white;
    margin-top: 0;
  }
  .query h3 {
    background-clip: unset;
    background: none;
    -webkit-text-fill-color: white;
  }
  .query-asked {
    width: 28rem;
    height: 4rem;
    margin: 1.5rem auto;
    font-size: 1.3rem;
    box-shadow: rgb(0, 0, 0, 30%) 0px 3px 5px;
  }
  .query-asked button {
    width: 4rem;
    height: 4rem;
    border-radius: 0 0.8rem 0.8rem 0;
  }
  .search {
    width: 30rem;
    height: 3.8rem;
    margin: 3rem auto;
    border-radius: 0.8rem;
    background-color: #fff;
    z-index: 0;
    justify-content: flex-start;
  }
  .search-ico {
    background-color: #fff;
    z-index: 1;
    width: 5rem;
    margin: 0;
    padding: 1rem;
    border-radius: 0.8rem 0 0 0.8rem;
  }
  .search::before {
    border-radius: 0.8rem;
    top: -1px;
    left: -0.7px;
    bottom: -1.2px;
    right: -1.5px;
    z-index: -1;
  }
  .search button {
    width: 4.2rem;
    height: 4.01rem;
    top: -0.09rem;
    right: -0.21rem;
    border-radius: 0 0.8rem 0.8rem 0;
  }
  ::placeholder {
    font-size: 1.4rem;
    z-index: 999;
  }

  footer h3 {
    margin-top: 1.2rem;
    margin-bottom: 0rem;
    font-weight: 600;
    font-size: 1.6rem;
  }

  footer ul {
    margin-left: 2rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 395px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 370px) {
  html {
    font-size: 56%;
  }
}
